[submodule "camb"]
	path = camb
	url = git@github.com:williamjameshandley/CAMB.git
	branch = master
[submodule "polychord"]
	path = polychord
	url = git@github.com:PolyChord/PolyChordLite.git
	branch = master
